html {
    font-size: 14px;
}

/*------Media Column------*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.blog-header{
    margin-top: 7rem;
    max-width: 700px;
}

@media (max-width: 768px){
    .blog-header{
        margin-top: 8rem;
    }
}

/*------Container Column------*/

.container{
    max-width: 960px;
}

/*------Team Column------*/

.team{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 2rem;
}

/*------Card-Deck Column------*/

.card-deck .card{
    min-width: 220px;
}

.card-text{
    padding-top: 1rem;
}

.card-block{
    min-height: 220;
}

.active{
    border-bottom: 1px solid black;
}






